body{
    margin: 0;
    font-family: system-ui;

}
.parallax, .parallaxl{
background-image: url('new2.jpg');
height: max-content;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.page-title{
    background: rgba(0, 0, 0, 0.158);
    text-align: center;
    color:rgb(231, 231, 199);
    text-shadow: cornsilk;
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;    
    letter-spacing: 20px;
}
.container{
    margin:50px 50px 50px 50px;
    width:90%;
    text-align: center;
    
}
.categories{
    width: max-content;
    margin:60px;
    border:1px solid #184d47;
    border-radius: 0 0 50px 50px;
    display:inline-block;
}
.categories:hover, .items:hover{
    box-shadow:0 0 10px 3px #184d47;
}
.item-image{
    height: 200px;
    width:200px;
    border-radius:0 0 50px 50px;
    padding: 10px;
}
.image-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.menu{
    background:#b39fca;
    text-align:center;
    font-size: xx-large;
}
.menu-ul{
margin: 0;
padding: 0;
display: inline;
}
.a-menu,.link{
    text-decoration: none;
    color:white;
 font-family: sans-serif;
 
}    
.menu-ul li:hover{
    background:#4b3b85;
    transform: scale(1.1);
}